@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  color: rgba(255, 255, 255, 1);
  appearance: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.button:not(:disabled):hover {
  background-color: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 1);
}

.button:not(:disabled):focus {
  background-color: rgba(97, 80, 72, 1);
  color: rgba(255, 255, 255, 1);
  outline: none;
}

.button:not(:disabled):active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 0.3);
}

.col {
  padding: 0 70px;
}

.main-header {
  background-color: #ffffff;
  color: inherit;
  display: flex;
}

.main-header-logo {
  display: block;
}

.main-header-link {
  display: block;
  margin-right: 30px;
  margin-bottom: -6px;
  position: relative;
  z-index: 0;
}

.navigation {
  margin-right: auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  height: 2px;
  background-color: #756257;
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: -1px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 132px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-icon {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-search {
  background-image: url("../images/search.svg");
}

.icon-favourites {
  background-image: url("../images/heart.svg");
}

.user-item {
  position: relative;
}

.icon-favourites::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgba(125, 181, 79, 1);
  bottom: 33px;

  border-radius: 50%;
}

.user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 0;
  margin-left: 20px;
  max-width: 160px;
  padding: 14px 0;
  align-items: center;
}

.button-modal {
  min-width: 160px;
  min-height: 36px;
  padding: 8px 24px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  color: inherit;
}

.hero {
  background-image: url("../images/background-bottom.svg"),
    url("../images/index-background.jpg");
  background-color: #5e8cb2;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: left bottom -1px, center;
  background-size: 100% auto, cover;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages-header {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 69px;
}

.advantages-header-title {
  padding-right: 218px;
  padding-left: 218px;
  margin-bottom: 25px;
}

.advantages-header-subtitle {
  padding-right: 190px;
  padding-left: 190px;
}

.advantages-item-big {
  display: flex;
  flex-direction: row;
}

.advantages-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  width: 400px;
  box-sizing: border-box;
  padding: 102px 83px;
}

.advantages-text:not(:first-child):not(:last-child) {
  padding: 112px 78px;
}

.advantages-img {
  display: block;
  margin: auto 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 30px;
  padding: 0 31px;
}

.advantages-description {
  margin: 0;
}

.advantages-title-color {
  color: #ffffff;
}

.bottom-line::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: currentColor;
  opacity: 0.3;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  flex-grow: 1;
}

.advantages-list li:nth-child(4n-3) {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-list li:nth-child(2n) {
  background-color: #83b3d31f;
  color: inherit;
}

.advantages-list li:nth-child(3n) {
  background-color: #83b3d333;
  color: inherit;
}

.service {
  background-color: #ffffff;
  color: inherit;
  text-align: center;
}

.service-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.service-title {
  padding-left: 272px;
  padding-right: 272px;
  margin-bottom: 20px;
}

.service-subtitle {
  padding-left: 275px;
  padding-right: 275px;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.service-list li:nth-child(2n-1) {
  background-color: #83b3d31f;
  color: inherit;
}

.service-item {
  width: 400px;
  box-sizing: border-box;
  padding: 81px 85px;
  text-align: center;
  flex-grow: 1;
}

.service-icon::before {
  content: "";
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
}

.icon-lodge::before {
  background-image: url("../images/lodge.svg");
}

.icon-burger::before {
  background-image: url("../images/burger.svg");
}

.icon-present::before {
  background-image: url("../images/present.svg");
}

.service-description {
  margin: 0;
}

.search-data {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-data-title {
  padding-left: 374px;
  padding-right: 374px;
  margin-bottom: 20px;
}

.search-data-subtitle {
  padding: 0 230px;
  margin-bottom: 54px;
}

.button-search-data {
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  max-width: 376px;
  max-height: 52px;
  padding: 8px 50px;
}

.subscribe {
  background-image: url("../images/background-subscribe.jpg");
  background-color: #657285;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  color: #ffffff;
  padding-left: 318px;
  padding-right: 318px;
  margin-bottom: 20px;
}

.subscribe-subtitle {
  padding-right: 282px;
  padding-left: 282px;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  min-width: 684px;
}

[type="email"] {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  min-width: 452px;
  height: 52px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  min-width: 232px;
  min-height: 52px;
  padding: 8px 40px;
}

.subscribe-button:not(:disabled):hover {
  background-color: rgba(104, 162, 202, 1);
}

.subscribe-button:focus {
  background-color: rgba(104, 162, 202, 1);
}

.subscribe-button:not(:disabled):active {
  background-color: rgba(130, 179, 211, 1);
}

.main-footer {
  background-color: #ffffff;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 90px;
  padding: 40px 70px 30px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  padding: 5px 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 192px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  width: 48px;
  height: 40px;
  padding: 5px 0;
}

.social-item {
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: rgba(130, 179, 211, 1);
}

.social-link:hover .social-icon {
  fill: rgba(104, 162, 202, 1);
}

.social-link:focus .social-icon {
  fill: rgba(104, 162, 202, 1);
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.phone:hover {
  color: rgba(117, 97, 87, 1);
}

.phone:focus {
  color: rgba(117, 97, 87, 1);
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.container-copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}

.copyright {
  display: block;
  width: 115px;
  padding: 5px 0;
  position: relative;
}

.logo-htmlacademy {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 1);
}

.copyright:hover .logo-htmlacademy {
  fill: rgba(117, 97, 87, 1);
}

.copyright:focus .logo-htmlacademy {
  fill: rgba(117, 97, 87, 1);
}

.copyright:active .logo-htmlacademy {
  fill: rgba(117, 97, 87, 0.3);
}

/*catalog*/
.main-inner {
  background-color: #ffffff;
  color: inherit;
}

.inner-header {
  background-image: url("../images/background-page.jpg");
  background-color: #43484c;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 23px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}
.inner-header {
  padding: 35px 70px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  gap: 28px;
}

.breadcrumbs-item {
  display: block;
  position: relative;
}

.icon-breadcrumbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: rgba(255, 255, 255, 1);
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  left: 25px;
  top: 7px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  display: block;
}

.breadcrumbs-index {
  min-width: 13px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover .icon-breadcrumbs {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus .icon-breadcrumbs {
  fill: rgba(255, 255, 255, 1);
  outline: none;
}

.breadcrumbs-link:active .icon-breadcrumbs {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 16px;
  max-width: 150px;
}

.filter {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 32px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 16px;
}

.fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.price-buttons {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.range-price-group {
  display: flex;
}

[type="number"] {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #000000;
  padding: 12px 20px;
  max-width: 143px;
  height: 48px;
  box-sizing: border-box;
}

.filter-button {
  display: block;
  background-color: #82b3d3;
  color: inherit;
  min-width: 191px;
  min-height: 36px;
  padding: 8px 40px;
}

.buttons {
  padding-top: 56px;
}

.button-submit:not(:disabled):hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-submit:not(:disabled):active {
  background-color: rgba(130, 179, 211, 1);
}

.button-reset {
  background-color: transparent;
  color: inherit;
  margin-top: 32px;
}

.button-reset:not(:disabled):hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.button-reset:focus {
  background-color: transparent;
  outline: 3px solid rgba(131, 179, 211, 1);
}

.button-reset:not(:disabled):active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.catalog-housing-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 40px;
}

.found-housing-title {
  max-width: 438px;
  margin-right: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  height: 49px;
}

.view-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border-radius: 4px;
}

.view-button-current {
  outline: 2px solid rgba(0, 0, 0, 1);
}

.view-button:hover {
  outline: 2px solid rgba(0, 0, 0, 1);
}

.view-button:focus {
  outline: 2px solid rgba(104, 162, 202, 1);
}

.view-button:active {
  outline: 2px solid rgba(0, 0, 0, 1);
}

.button-tile {
  background-image: url(../images/tile.svg);
}

.button-card {
  background-image: url(../images/card.svg);
}

.button-list {
  background-image: url(../images/list.svg);
}

.view-button-list {
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  padding-bottom: 1px;
  list-style: none;
}

.card-list {
  margin: 0;
  padding: 0 70px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-bottom: 40px;
}

.card-item {
  border: 1px solid #e5e5e5;
  padding: 19px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  column-gap: 20px;
  row-gap: 16px;
  width: 340px;
  box-sizing: border-box;
}

.card-link {
  grid-column: 1/-1;
}

.card-img {
  display: block;
  margin-bottom: 16px;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.card-link {
  text-align: initial;
}

.type-price {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.button-card-detail {
  max-width: 140px;
  max-height: 36px;
  align-content: center;
  padding: 8px 15px;
}

.add-favorite-button {
  background-color: #82b3d3;
  color: #ffffff;
  max-width: 140px;
  max-height: 36px;
  padding: 8px 15px;
}

.favorite-button {
  background-color: #7db54f;
  color: #ffffff;
  max-width: 140px;
  max-height: 36px;
  padding: 8px 15px;
}

.add-favorite-button:not(:disabled):hover {
  background-color: rgba(104, 162, 202, 1);
}

.add-favorite-button:not(:disabled):focus {
  background-color: rgba(104, 162, 202, 1);
}

.add-favorite-button:not(:disabled):active {
  background-color: rgba(130, 179, 211, 1);
}

.favorite-button:not(:disabled):hover {
  background-color: rgba(108, 158, 66, 1);
}

.favorite-button:not(:disabled):focus {
  background-color: rgba(108, 158, 66, 1);
}

.favorite-button:not(:disabled):active {
  background-color: rgba(125, 181, 79, 1);
}

.stars {
  grid-column: 1/-1;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.number-stars {
  display: block;
  width: 120px;
  height: 17px;
  align-self: center;
}

.stars-1::before {
  max-width: 18px;
}

.stars-2::before {
  max-width: 40px;
}

.stars-3::before {
  max-width: 64px;
}

.stars-4::before {
  max-width: 86px;
}

.stars-5::before {
  max-width: 106px;
}

.number-stars::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url(../images/star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
}

.button-rating {
  width: 140px;
  height: 37px;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  padding: 9px 20px 8px;
  pointer-events: none;
}

.pagination-list {
  display: flex;

  gap: 8px;
  margin: 0;
  padding: 40px 70px 60px;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}

.pagination-text {
  color: rgba(0, 0, 0, 1);
  background-color: rgb(255, 255, 255);
}

.pagination-link:not(.pagination-current):hover {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid rgba(130, 179, 211, 1);
}

.pagination-link:not(.pagination-current):focus {
  background-color: rgba(104, 162, 202, 1);
  outline: 1px solid rgba(130, 179, 211, 1);
}

.pagination-link:not(.pagination-current):active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

.pagination-current {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.subscribe-inner {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title-inner {
  padding-right: 318px;
  padding-left: 318px;
  margin-bottom: 20px;
}

.subscribe-subtitle-inner {
  padding-left: 287px;
  padding-right: 287px;
  margin-bottom: 54px;
}

.subscribe-inner input {
  background-color: #f2f2f2;
  color: inherit;
}
