@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  appearance: none;
}

.col {
  padding: 0 70px;
}

.main-header {
  background-color: #ffffff;
  color: inherit;
  display: flex;
}

.main-header-logo {
  display: block;
}

.main-header-link {
  display: block;
  margin-right: 30px;
  margin-bottom: -6px;
}

.navigation {
  margin-right: auto;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-link {
  display: block;
  padding: 20px 16px;
}

.menu-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 132px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-link {
  display: block;
  width: 44px;
  height: 64px;
}

.button-modal {
  width: 160px;
  margin-left: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  color: inherit;
}

.hero {
  background-image: url("../images/background-bottom.svg"),
    url("../images/index-background.jpg");
  background-color: #5e8cb2;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: left bottom -1px, center;
  background-size: 100% auto, cover;
  text-align: center;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
}

.advantages-header {
  text-align: center;
}

.advantages-text-img {
  display: flex;
  flex-direction: row;
}

.advantages-text {
  text-align: center;
  padding: 112px 85px;
  width: 230px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-color {
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list li:nth-child(4n-3) {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-list li:nth-child(2n) {
  background-color: #83b3d31f;
  color: inherit;
}

.advantages-list li:nth-child(3n) {
  background-color: #83b3d333;
  color: inherit;
}

.service {
  background-color: #ffffff;
  color: inherit;
  text-align: center;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.service-list li:nth-child(2n-1) {
  background-color: #83b3d31f;
  color: inherit;
}

.service-item {
  max-width: 33%;
  width: 230px;
  padding: 81px 85px;
  text-align: center;
}

.search-data {
  text-align: center;
}

.button-search-data {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  background-image: url("../images/background-subscribe.jpg");
  background-color: #657285;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.subscribe-title {
  color: #ffffff;
}

[type="email"] {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
}

.main-footer {
  background-color: #ffffff;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 90px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*catalog*/
.main-inner {
  background-color: #ffffff;
  color: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-header {
  background-image: url("../images/background-page.jpg");
  background-color: #43484c;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 23px;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.inner-header {
  padding: 35px 70px;
}

.breadcrumbs {
  display: flex;
  min-width: 114px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.price-buttons {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.range-price-group {
  display: flex;
}

[type="number"] {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #000000;
  width: 103px;
  padding: 12px 20px;
}

.filter-button {
  display: block;
  background-color: #82b3d3;
  color: inherit;
  width: 191px;
}

.button-reset {
  background-color: rgba(130, 179, 211, 0);
  color: inherit;
  margin-top: 32px;
}

.catalog-housing-header {
  display: flex;
  flex-wrap: wrap;
}

.found-housing-title {
  max-width: 438px;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.view-button-list {
  width: 216px;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card-img {
  display: block;
  margin: 0 auto;
}

.card-link {
  text-transform: none;
  text-align: left;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
}

.add-favorite-button {
  background-color: #82b3d3;
  color: #ffffff;
}

.favorite-button {
  background-color: #7db54f;
  color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.subscribe-inner {
  text-align: center;
}

.subscribe-inner input {
  background-color: #f2f2f2;
  color: inherit;
}
